In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../data/encoded_select_features_data.csv')

Let's check out the data.

In [3]:
data.head()

,Age,DistanceFromHome,EnvironmentSatisfaction,JobLevel,JobSatisfaction,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,PerformanceRating,StockOptionLevel,...,YearsSinceLastPromotion,YearsWithCurrManager,Attrition,BusinessTravel,Department,EducationField,Gender,JobRole,MaritalStatus,OverTime
0,41,1,2,2,4,5993,8,11,3,0,...,0,5,1,2,2,1,0,7,2,1
1,49,8,3,2,2,5130,1,23,4,1,...,1,7,0,1,1,1,1,6,1,0
2,37,2,4,1,3,2090,6,15,3,0,...,0,0,1,2,2,4,1,2,2,1
3,33,3,4,1,3,2909,1,11,3,0,...,3,0,0,1,1,1,0,6,1,1
4,27,2,1,1,2,3468,9,12,3,1,...,2,2,0,2,2,3,1,2,1,0